body{
    margin: 0;
    padding: 0;
    color: #252422;
    text-shadow: 0 0 10px #0a0908;
    background-image: url("images/bg4.jpg");
    background-size: cover;
    background-position: center;
    font-family: Tahoma;
    /* width: 100%; */
    /* background-color: #893168; */
}

#main{
    width: 60vh;
    max-width: 500px;
    min-width: 300px;
    margin: 10px auto;
    padding: 1px 20px 40px 20px;
    /* border-radius: 5px; */
    /* height: 100vh; */
    /* background-color: #eaeaea; */
}

h1,
p {
  margin: 1em auto;
  text-align: center;
  /* color: #050404; */
  /* color: #2e1c2b;  */
  /* color: #4a1942; */
  /* color: #a9def9; */
}

fieldset{
  border: none;
}

label {
    display: block;
    margin: 0.5rem 0;
    color: #4a1942;
  }

  .basic-info{
    width: 95%;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
  }

  input[type="submit"]{
    background-color: #4a1942;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    color: #fafaff;
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  input[type="radio"]{
    /* color: #4a1942; */
  }

  input[type="submit"]:hover{
    background-color: #893168;
  }